body.animal {
    display: flex;
    flex-flow: row wrap;
    background: darksalmon;
}

.animal > article {
    border: 1em solid forestgreen;
    background-color:forestgreen;
    flex: 1;
    max-width: calc(20vw + 200px);
    padding:inherit;
    border-radius:0;
}

.animal article img {
    max-width: calc(20vw + 200px);
}
