body, html {
    font-family: sans-serif;
    font-size: 20px;
    margin-left: 2rem;
    margin-right: 4rem;
    line-height: 1.2em;
}

p {
    line-height: 1;
    text-align: justify;
    margin-left: 3rem;
}

summary {
    font-style: italic;
}

nav {
    background: aquamarine;
    width: 10rem;
}

h1 {
    line-height: 1.2em;
    background: purple;
    box-sizing: border-box;
    text-align: center;
    Color: white;
}

article {
    margin: 2rem;
    border: 1em solid blueviolet;
    padding: 2em;
    border-radius: 8em;
}

footer {
    position: fixed;
    right: 0;
    bottom: 0;
}


a, a:visited {
    color: black;
}

a:hover {
    color: goldenrod;
    padding-top: 1px;
}

a:active {
    background-color: palegreen;
}
