
article.recipe{
    background-repeat:repeat;
    background-size:100% auto;
    background-position:center;
    display:flex;
    flex-flow: row wrap;
    margin:1rem;
    background-image: url("../images/bears.jpeg");
}
article.recipe > *{
    flex: 1;
    width: 15%;
    background-color: blanchedalmond;
    box-shadow: 0 0 0.5em black;
    border-radius: 1rem;
    border-style: none;
    padding: 0.5em;
    margin:1rem;
}
ul {
    list-style-type: square;
}

.recipe ol {
    list-style-position:inside;
    color: midnightblue;
    list-style-type:decimal;
}

.recipe ul {
    color: darkred;
    list-style: none;
}

h2.dish-name {
    color: teal;
    background-color: darkorange;
}
img {
    object-fit: contain;
    width: 20rem;
}